<!--[:title, :job_link, :employer, :location, :company_id, :job_id, :posted_at] -->

<h1>Search Results</h1>
<table id="results-table" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
    <% results_table.headers.each do |header| %>
      <% unless [:job_link, :company_id, :job_id].include?(header) %>
        <th>
          <%= header %>
        </th>
      <% end %>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% results_table.each do |row| %>
      <tr class="result">
        <td>
          <a href="<%= row[:job_link] %>"><%= row[:title] %></a>
        </td>
        <td>
          <a href="/company/<%= row[:employer] %>"><%= row[:employer] %></a>
        </td>
        <td>
          <%= row[:location] %>
        </td>
        <td>
          <%= row[:posted_at] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $("#results-table").DataTable();
} );
</script>

