<style>
.rating {
  unicode-bidi: bidi-override;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span.filled{
  color: transparent;
}
.rating > span.filled::before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}
.review {
  margin: auto;
  padding: 50px;
  width: 80%;
}
.star-ratings > div {
  display: inline-block;
  margin-left: 10px;
}
.glassdoor { 
  margin-top:20px;
  float: right;
 }
</style>

<%= erb :_search_form, locals: {location: location} %>

<div class="review">
<% unless company %>
  <h1>No reviews for this company.</h1>
<% else %>

  <h1>Company Review: <%= company.company_name.capitalize %></h1>

  <p><a href="<%= company.website %>"><%= company.website %></a></p>

  <div class="star-ratings">
    <% company.ratings.each do |name, rating| %>
      <div>
        <h4><%= name.to_s %></h4>
        <%= erb :_rating_stars, locals: { rating: rating }%>
      </div>
    <% end %>
  </div>

  <% if company.featured_review %>
    <div>
      <h3>Featured Review: <%= company.featured_review[:headline] %></h3>
      <p>Posted on <%= Time.parse(company.featured_review[:date]).strftime("%B %d, %Y") %></p>
      <h4>Pros:</h4>
      <p><%= company.featured_review[:pros] %></p>
      <h4>Cons:</h4>
      <p><%= company.featured_review[:cons] %></p>
    </div>
  <% end %>
  <a class="glassdoor" href='https://www.glassdoor.com/index.htm'>powered by: <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
</div>
  
<% end %>