<style>
.rating {
  unicode-bidi: bidi-override;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span.filled{
  color: transparent;
}
.rating > span.filled::before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}
</style>
<% unless company %>
  <h1>No reviews for this company.</h1>
<% else %>

  <h1><%= company.company_name %> details:</h1>

  <p>Website: <%= company.website %></p>


  <% company.ratings.each do |name, rating| %>
    <h4><%= name.to_s %></h4>
    <%= erb :_rating_stars, locals: { rating: rating }%>
  <% end %>

  <% if company.featured_review %>
    <div>
      <h3>Featured Review: <%= company.featured_review.headline %></h3>
      <p>Posted on <%= company.featured_review.date %></p>
      <h4>Pros:</h4>
      <p><%= company.featured_review.pros %></p>
      <h4>Cons:</h4>
      <p><%= company.featured_review.cons %></p>
    </div>
  <% end %>

  <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
<% end %>